apiVersion: v1
kind: Service
metadata:
  name: {{ include "ndots-webhook.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ndots-webhook.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
    {{- if .Values.metrics.enabled }}
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "ndots-webhook.selectorLabels" . | nindent 4 }}
