{{- if .Values.serviceAccount.create -}}
# The webhook needs permissions to read Namespaces for annotation checks.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "k8s-ndots-admission-controller.fullname" . }}
  labels:
    {{- include "k8s-ndots-admission-controller.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
  - apiGroups: [""]
    resources: ["namespaces"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "k8s-ndots-admission-controller.fullname" . }}
  labels:
    {{- include "k8s-ndots-admission-controller.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "k8s-ndots-admission-controller.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "k8s-ndots-admission-controller.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
